:root {
	--primary-color-lighted: #b4a1ff;
	--primary-color: #6d4aff;
	--primary-color-hover: #7e5eff;
	--primary-color-faded: #3a2788;
	--danger-color: #dc3251;
	--success-color: #1ea885;
	--success-color-trans: #67e0c1;
	--feature-color: #2cffcc;
	--dark-gray: #3d3d3d;
	--dark-gray-2: #4A4658;
	--text-hint: #6D697D;
	--gray: #666;
	--middle-gray: #939393;
	--light-gray: #b6b6b6;
	--primary-contrast: #f9f9f9;
	--circle-bg: #3B3747;
	--circle-fg: #8A6EFF;
	--bg-weak: #292733;

	/* Generated and copied from figma AutoHTML plugin */
	--background-background-norm: #16141c;
	--border-border-norm: #4a4658;
	--shadow-shadow-lifted-box-shadow: 0px 8px 24px 0px rgb(0, 0, 0, 0.48);
	--text-norm: #fff;
	--text-weak: #a7a4b5;
}
